@media (max-width: 768px) { 
    .shoes-card img {
        width: 200px;
    }
    .card-footer button {
        font-size: 10px;
        padding: 5px 10px;
    }
    .cart-image img {
        width: 350px;
    }
    .icon-items {
        width: 300px;
    }
    .icon img {
        width: 50px;
    }
    .details h4 {
        font-size: 20px;
    }
    .details p {
        font-size: 12px;
    }
    .navbar button {
        margin-left: 80%;
    }
}
@media (max-width: 576px) {
    .hero-section {
        flex-direction: column;
        margin-top: 50px;
    }
    .shoes-item {
        width: 100%;
    }
    .shoes-card img {
        width: 80%;
        margin-left: 10%;
    }
    .all-contant {
        flex-direction: column;
    }
    .perfect {
        margin-bottom: 50px;
        margin-left: 9%;
    }
    .all-header {
        width: 100px;
    }
    .navbar button {
        margin-left: 80%;
    }
    .logo-png img {
        width: 100%;
    }

}

